/*
*
* Created by Marton
* https://marton.lederer.hu
*
*/

body {

  margin: 0;

}

::selection {

  background: #6521b2;
  color: #fff;

}

::-moz-selection {

  background: #6521b2;
  color: #fff;

}

::-webkit-scrollbar {

  width: 7px;

}

::-webkit-scrollbar-track {

  background-color: rgba(0, 0, 0, 0);

}

::-webkit-scrollbar-thumb {

  background: #6521b2;

}
